@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-box {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}

.box {
    position: relative;
    width: 50%;
    min-height: 300px;
    background-color: #fff;
    
}